html
{ height: 100%;}


body{
    padding:0px;
    margin:0px;
    background: url(background1.png) no-repeat center center fixed;
    background-color: black;
    background-size: cover;
}

/* post title */
.title {
    text-align: center;
    color: white;
    background-color: black;
    margin-bottom: 0px;

}
/* post content */
.post-content{
    text-align: left;
    color: black;
    background-color: white;
    min-height: 150px;

}
/*author of post*/
.post-author{
    text-align: left;
    color: black;
    background-color: white;
    margin-top: 0px;
}
/*all replies text*/
.replies {
    text-align: left;
}

a {
    color: black;
}

table, table tbody, table tr, table td {
    width: 100%;
    text-align: left;
}
.main-category {
    background-color: #000000;
    color: white;
}
tbody:not(.main-category){
    background-color: white;
    color: #000000;
}

.header{
    top: 0px;
    text-align:center; 
}
.header img{
    max-width: 100%;
    height: auto;
}

footer{
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 20px;
    display: block;
    clear: both;
}

.right{
    float: right; 
    width: 20%;
    padding: 0 10px 20px 15px;
}
.left{
    float: left;  
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    width: 20%;
    padding: 0 15px 20px 15px;
}
.content{
    text-align: center;
    width: 50%;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 20px 24px 20px 37px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.1px;
}

#rightpic{
    float: right; 
    width: 100%; 
    margin-right: 1em; 
    margin-bottom: 0.5em;
    margin-top: 2em;
}

form{
    width:40%;
    padding: 30px;
    margin: 5px auto;
}
h1 {
    color: white;
    font-family: italic;
    text-align: center;
    margin: auto;
}

h4 {
    color: white;
    font-size:30px;
}

.textInput{
    margin-top: 2px;
    height:28px;
    border: 1px solid #5E6E66;
    font-size: 16px;
    padding:1px;
    width: 100%;
}
#error_msg{
    width: 50%;
    margin: 5px auto;
    height: 30px;
    border: 1px solid #FF0000;
    background: #FFB9B8;
    color: #FF0000;
    text-align: center;
    padding-top: 10px;
}
td{
    text-align:right;
}

nav a, nav td {
    -moz-box-shadow: 3px 4px 0px 0px #899599;
    -webkit-box-shadow: 3px 4px 0px 0px #899599;
    box-shadow: 3px 4px 0px 0px #899599;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000033), color-stop(1, #bab1ba));
    background:-moz-linear-gradient(top, #000033 5%, #bab1ba 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-o-linear-gradient(top, #000033 5%, #bab1ba 100%);
    background:-ms-linear-gradient(top, #000033 5%, #bab1ba 100%);
    background:linear-gradient(to bottom, #000033 5%, #bab1ba 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
    background-color:#000033;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Century Gothic;
    font-size:20px;
    padding:10px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
}
nav a:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
    background-color:#bab1ba;
}

nav, header {
    display:block;
    margin: auto;
    text-align: center;
}

#register {

    -moz-box-shadow: 3px 4px 0px 0px #899599;
    -webkit-box-shadow: 3px 4px 0px 0px #899599;
    box-shadow: 3px 4px 0px 0px #899599;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000033), color-stop(1, #bab1ba));
    background:-moz-linear-gradient(top, #000033 5%, #bab1ba 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-o-linear-gradient(top, #000033 5%, #bab1ba 100%);
    background:-ms-linear-gradient(top, #000033 5%, #bab1ba 100%);
    background:linear-gradient(to bottom, #000033 5%, #bab1ba 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
    background-color:#000033;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Century Gothic;
    font-size:20px;
    padding:10px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
    float: right;
    margin-right: 5%; 
    margin-bottom: 0.5em;
}


#register:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
    background-color:#bab1ba;


}


#logout  {
    -moz-box-shadow: 3px 4px 0px 0px #899599;
    -webkit-box-shadow: 3px 4px 0px 0px #899599;
    box-shadow: 3px 4px 0px 0px #899599;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000033), color-stop(1, #bab1ba));
    background:-moz-linear-gradient(top, #000033 5%, #bab1ba 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-o-linear-gradient(top, #000033 5%, #bab1ba 100%);
    background:-ms-linear-gradient(top, #000033 5%, #bab1ba 100%);
    background:linear-gradient(to bottom, #000033 5%, #bab1ba 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
    background-color:#000033;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Century Gothic;
    font-size:20px;
    padding:10px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
    float: right;
    margin-right: 5%; 
    margin-bottom: 0.5em;
}

#logout:hover{


    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
    background-color:#bab1ba;
}

.contactinfo {
    text-align: center;
    color: white;
}