body{
	padding:0px;
	margin:0px;
	background: url(background1.png) no-repeat center center fixed;
    background-color: black;
    background-size: cover;
}
.header{
	background-color:transparent;
	color:white;
	text-align:center;
	top:0px;
	width:100%;
	padding:5px;
}
form{
	width:40%;
	padding: 30px;
	border: 1px solid #cbcbcb;
	margin: 5px auto;
}
h1 {
color: white;
font-family: italic;
}

h4 {
	color: white;
	font-size:30px;
}

.textInput{
	margin-top: 2px;
	height:28px;
	border: 1px solid #5E6E66;
	font-size: 16px;
	padding:1px;
	width: 100%;
}
#error_msg{
	width: 50%;
	margin: 5px auto;
	height: 30px;
	border: 1px solid #FF0000;
	background: #FFB9B8;
	color: #FF0000;
	text-align: center;
	padding-top: 10px;
}
td{
	text-align:right;
}

nav a, nav td {
	text-align: center;
	padding: 10px;
	font-size: 20px;
	border: ridge white;
	background: transparent;
	color: white;
}

nav, header {
	display:block;
	margin: auto;
	text-align: center;
}