body{
	padding:0px;
	margin:0px;
	background: url(background1.png) no-repeat center center fixed;
    background-color: black;
    background-size: cover;
}
.header{
	max-width:100%;
	margin-left: auto;
    margin-right: auto;
	top: 0px;

}
form{
	width:40%;
	padding: 30px;
	border: 1px solid #cbcbcb;
	margin: 5px auto;
}
h1 {
color: white;
font-family: italic;
text-align: center;
margin: auto;
}

h4 {
	color: white;
	font-size:30px;
}

.textInput{
	margin-top: 2px;
	height:28px;
	border: 1px solid #5E6E66;
	font-size: 16px;
	padding:1px;
	width: 100%;
}
#error_msg{
	width: 50%;
	margin: 5px auto;
	height: 30px;
	border: 1px solid #FF0000;
	background: #FFB9B8;
	color: #FF0000;
	text-align: center;
	padding-top: 10px;
}
td{
	text-align:right;
}

nav a, nav td {
	text-align: center;
	padding: 10px;
	font-size: 20px;
	border: ridge white;
	background: transparent;
	color: white;
}

nav, header {
	display:block;
	margin: auto;
	text-align: center;
}
a:hover {
	font-weight: bold;
}

#register {
	
	
        -moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#4d3a9c;
	font-family:Century Gothic;
	font-size:17px;
	padding:2px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}


#register:hover{
                       background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
               
               
           }


#logout  {
	font-size: 17px;
	color: black;
	border-left: 5px solid red;
	background-color: darkcyan;
}