html, body {
	color: white;
	/*background: #50ff00;*/
	background: linear-gradient(322deg, #38d5ad, #03231b);
	/*border-radius: 6px;*/
	list-style-type: none;
	min-height: 100vh;
	/*min-width: 100vw;*/
	padding: 0px;
	margin: 0px;
	border: 0px;
}
html a {
	color: white;
}

.background {
	background-attachment: fixed;
	background-image: url("img/start.jpg");
	background-size: cover;
	background-position: center bottom;
	
}


h1 {
	text-align: center;
	font-style: italic;
	letter-spacing: 3px;
	}
	
.aside {
	text-align: right;
	padding-right: 150px;
	margin-top: 30px;
}
	
nav a, nav td {
	font-style: italic;
	text-align: center;
	padding: 10px;
	font-size: 30px;
	}
	
nav, header {
	display:block;
	margin: auto;
	text-align: center;
}

nav {
	height: 40px;
}

nav  a:hover {
	font-weight: bold;
}

h2, h3 {	
	text-align: center;
	font-style: italic;
	letter-spacing: 1px;
}

	
main {
	display:block;
	margin-top: 50px;
	padding: 7px;
	background-color: rgba(0, 0, 0, 0.7);
}
	
footer {
	display:block;
	clear:both;
	text-align: center;
	color: whiite;
	font-size: 30px;
	width: 100%;
	position:relative;
	bottom:0px;
}

